<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="Sitecore.React.SampleProject.Website.Services.Configurator, Sitecore.React.SampleProject.Website" />
        </services>

        <domainManager>
            <domains>
                <domain id="react" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
                    <param desc="name">$(id)</param>
                    <ensureAnonymousUser>false</ensureAnonymousUser>
                </domain>
            </domains>
        </domainManager>
        <events>
            <event name="publish:end">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="react">react</site>
                    </sites>
                </handler>
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="react">react</site>
                    </sites>
                </handler>
            </event>
        </events>
        <sites>
            <site name="react" patch:after="site[@name='modules_website']"
	              targetHostName="sitecorereact.$(rootHostName)"
	              database="web"
	              virtualFolder="/"
	              physicalFolder="/"
	              rootPath="/sitecore/content/react"
	              startItem="/Home"
	              dictionaryPath="/sitecore/content/react/global/dictionary"
	              dictionaryAutoCreate="false"
	              domain="react"
	              allowDebug="true"
	              cacheHtml="true"
	              htmlCacheSize="50MB"
	              registryCacheSize="0"
	              viewStateCacheSize="0"
	              xslCacheSize="25MB"
	              filteredItemsCacheSize="10MB"
	              enablePreview="true"
	              enableWebEdit="true"
	              enableDebugger="true"
	              disableClientData="false"
	              cacheRenderingParameters="true"
	              renderingParametersCacheSize="10MB"
	              loginPage="/login"
	              enableItemLanguageFallback="true" />
        </sites>
        <cacheSizes>
            <sites>
                <react>
                    <html>50MB</html>
                    <registry>0</registry>
                    <viewState>0</viewState>
                    <xsl>25MB</xsl>
                </react>
            </sites>
        </cacheSizes>
        <settings>
            <setting name="Preview.DefaultSite">
                <patch:attribute name="value" value="react" />
            </setting>
        </settings>
    </sitecore>
</configuration>